/* .edit-button {
  padding: 0.1rem 0.3rem;
  background-color: lightseagreen;
  color: #fff;
} */

.fa-pencil-alt,
.fa-trash-alt,
.fa-eye {
  font-size: 1.5rem;
  cursor: pointer;
}

.fa-eye {
  color: rgb(39, 115, 187);
  margin-right: 0.5rem;
}

.fa-pencil-alt {
  color: green;
  margin-right: 0.6rem;
}

.fa-trash-alt {
  color: red;
}
