.tabquestions-container {
  width: 100%;
  height: 90vh;
  /* padding: 3rem; */
  border-top: 0.1px solid gray;
  background-color: rgb(249, 249, 249);
  overflow-y: scroll;
  display: flex;
}

.tabquestions-left-container {
  width: 50%;
  height: 90vh;
  background-color: lightgreen;
  padding: 2rem;
}

.tabquestions-right-container {
  width: 50%;
  height: 90vh;
  background-color: rgb(92, 92, 92);
  padding: 2rem;
}
