* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  font-family: 'Poppins', sans-serif;
}

.bottom-container {
  height: 90vh;
  display: flex;
}

.black {
  color: #000;
}