.tabsingleimage-container {
  width: 100%;
  height: 90vh;
  padding: 2rem 4rem;
  border-top: 0.1px solid gray;
  background-color: rgb(249, 249, 249);
  overflow-y: scroll;
}

.tabsingleimage-heading {
  margin-bottom: 1rem;
}

.tabsingleimage-desc {
  margin-bottom: 1.5rem;
}

.tabsingleimage-img {
  object-fit: cover;
  height: 20rem;
  width: 30rem;
  border-radius: 5px;
}
