.dashboard-container {
  width: 13rem;
  height: 90vh;
  background-color: lightgreen;
  padding: 1.5rem;
}

/* Lists */
.dashboard-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

.dashboard-list-item {
  font-size: 1.2rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
  padding: 0.4rem 1rem;
}
