.tabsinglebug-container {
  width: 100%;
  height: 90vh;
  padding: 2rem 4rem;
  border-top: 0.1px solid gray;
  background-color: rgb(249, 249, 249);
  overflow-y: scroll;
}

/* TabSingleBug Containers */
.tabsinglebug-language-container,
.tabsinglebug-desc-container,
.tabsinglebug-links-container {
  display: flex;
}

.tabsinglebug-name-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.tabsinglebug-name-container h1 {
  margin-right: 1rem;
}

.fa-pen-to-square {
  font-size: 1.3rem;
  color: rgb(74, 74, 255);
  margin-top: 0.4rem;
  margin-right: 0.3rem;
}

.fa-trash-can {
  font-size: 1.3rem;
  color: red;
  margin-top: 0.4rem;
  margin-right: 0.6rem;
}

.tabsinglebug-code-container {
  display: flex;
  background-color: #000;
  padding: 1rem;
  border-radius: 5px;
  width: 50rem;
}

.tabsinglebug-links-container {
  margin-bottom: 1rem;
  overflow-x: hidden;
}

/* Heading and Paragraphs */
.tabsinglebug-desc-heading,
.tabsinglebug-language-heading,
.tabsinglebug-links-heading {
  margin-bottom: 1rem;
}

.tabsinglebug-desc-heading {
  margin-right: 2rem;
}

.tabsinglebug-language-heading {
  margin-right: 1.25rem;
}

.tabsinglebug-links-heading{
  margin-right: 1.3rem;
}

.tabsinglebug-desc,
.tabsinglebug-language,
.tabsinglebug-links {
  font-weight: 400;
}

.tabsinglebug-links {
  color: #0645ad;
}

.tabsinglebug-code-heading {
  margin-bottom: 0.7rem;
}

.tabsinglebug-code-container p {
  color: #fff;
}

.fa-trash-can {
  cursor: pointer;
}
