.loginscreen-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(-45deg, #020024, #090979, #00d4ff);
  background-size: 400% 400%;
  animation: gradient 7s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.login-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: lightgoldenrodyellow;
  border: 1px solid #000;
  width: 300px;
  /* height: 350px; */
  border-radius: 5px;
}

.login-top-container {
  display: flex;
  justify-content: center;
}

.login-top-container h1 {
  margin-bottom: 0.6rem;
  font-weight: 200;
}

.login-bottom-container {
  display: flex;
  flex-direction: column;
}

.login-bottom-container button {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 100;
  padding: 0.6rem 0;
  border: 1px solid navy;
  background-color: navy;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.login-bottom-container button:hover {
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
}

/* -------------------- */
/* 
.wrapper { 
  height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;

-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
} */
