.dashboard-container {
  width: 13rem;
  /* height: 100%; */
  height: 90vh;
  border-top: .1px solid gray;
  background-color: #000;
  padding: 1.5rem;
}

/* Lists */
.dashboard-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

.dashboard-list-item {
  font-size: 1.2rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
  padding: 0.4rem 1rem;
  text-decoration: none;
  color: #fff;
  transition: all .3s ease;
}

.dashboard-list-item:hover {
  background-color: rgba(130, 130, 197, 0.897);
  border-radius: 5px;
}