.login-container {
    padding: 1rem;
  border: 1px solid #000;
  width: 300px;
  height: 300px;
}

.login-top-container {
    display: flex;
    justify-content: center;
}

.login-bottom-container {
    display: flex;
    flex-direction: column;
}