/* .buglist-container {
  display: grid;
  grid-gap: 1rem;
  grid-column: full-start / full-end ;
} */

/* .buglist-addbug-container {
  padding: 1rem;
  width: 20rem;
  height: 20rem;
  border-radius: 5px;
  margin-bottom: 3rem;
  margin-right: 3rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  overflow-y: scroll;
} */

.fa-pencil-alt,
.fa-trash-alt,
.fa-eye {
  font-size: 1.5rem;
  cursor: pointer;
}

.fa-eye {
  color: rgb(39, 115, 187);
  margin-right: 0.5rem;
}

.fa-pencil-alt {
  color: green;
  margin-right: 0.6rem;
}

.fa-trash-alt {
  color: red;
}

.bugitem-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2.5rem;
}
